.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: 50px auto;

  .error{
    text-align: center;
    color: red;
  }
}

@media screen and (max-width: 768px) {
  .form{
    width: 100%;
  }
}
