.blog-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  width: 70%;
  margin: 0 auto;

  .blog-card {
    cursor: pointer;
    padding: 10px 20px;
    transition: all .3s ease;

    &:hover {
      background-color: #ddd2;
    }

    .blog-card-link {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
    }
  }
}
