.post{
  header{
  display: flex;
  justify-content: space-between;
  }

  .post-content{
    width: 70%;
    margin: 50px auto;

    ul, ol{
      margin: 10px 0 20px 55px;

      li::marker {
        color: lime;
      }
    }

    blockquote{
      /* display: inline-block; */
      background-color: #fff2;
      padding: 10px 30px;
      margin: 30px 20px;
      position: relative;

      &::before{
        content: '"';
        color: lime;
        font-size: 50px;
        position: absolute;
        top: -20px;
        left: -2px;
      }

      &::after{
        content: '"';
        color: lime;
        font-size: 50px;
        position: absolute;
        bottom: -40px;
        right: -2px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post{
    .post-content{
      width: 100%;

      ul, ol{
        margin-left: 35px;
      }
    }
  }
}
