.footer{
  position: absolute;
  bottom: 0;
  ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    list-style: none;

    li{
      font-size: 12px;
    }
  }
}
