.text-editor{
  display: flex;
  flex-direction: column;
  gap: 20px;

    .quill {
      height: 250px;

      .ql-container {
        font-size: inherit;
      }
    }
    .submit-button {
      margin: 50px 0 20px 0;
    }
}
